<h1 class="platform-title">Choose your platforms</h1>
<div class="platforms-container style="margin-bottom: 75px;"">
  <form action="/movies" method="get">
      <div class="platform-grid">
        <% @platforms.each do |platform| %>
        <div>
          <label for="<%= platform.name %>" class="platform-bordered mb-1" style="background-image: url('<%= cl_image_path platform.photo.key %>');">
          <input class="grid-icon" type="checkbox" id="platform" value="<%= platform.name %>"  name="platform[]">
          </label>
        </div>
        <% end %>
      </div>
      <input class="save-platform" type="submit" value="Save">
      </form>
</div>
