.app-wrappon {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 30px;
  margin-bottom: 75px;
}

.favourite-header {
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  color: white;
}

.fav-card{
  width: 145px;
}

.fav-card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
}
