// Specific CSS for your home-page
body {
  background-color: black;
}

h1, h2, h3 {
  color: #edede9;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.movie-week{
  margin-bottom: -5px;
  margin-left: 25px;
  text-align: left;
  margin-top: 16px;

}

.title-week{
  text-decoration: none;
  div p {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }

}
