<div class="container">

    <div class="carousel">
      <% @movies.each do |movie| %>
        <% if movie.platform == "Netflix" %>
        <div class="movie-card">
          <%= movie.name %>
          <%= movie.imdb_rating %>
          <%= movie.image_url %>
        </div>
        <% end %>
      <% end %>
    </div>

   <%# if @movies.platforms.name == "Amazon Prime" %>
    <%# <div class="carousel"> %>
      <%# @movies.each do |movie| %>
        <%# <div class="movie-card"> %>
          <%#= movie.name %>
          <%#= movie.imdb_rating %>
          <%#= movie.image_url %>
        <%# </div> %>
      <%# end %>
    <%# </div> %>
  <%# end %>

  <%# if @movies.platforms.name == "Disney +" %>
    <%# <div class="carousel"> %>
      <%# @movies.each do |movie| %>
        <%# <div class="movie-card"> %>
          <%#= movie.name %>
          <%#= movie.imdb_rating %>
          <%#= movie.image_url %>
        <%# </div> %>
      <%# end %>
    <%# </div> %>
  <%# end %>

  <%# if @movies.platforms.name == "Apple TV" %>
    <%# <div class="carousel"> %>
      <%# @movies.each do |movie| %>
        <%# <div class="movie-card"> %>
          <%#= movie.name %>
          <%#= movie.imdb_rating %>
          <%#= movie.image_url %>
        <%# </div> %>
      <%# end %>
    <%# </div> %>
  <%# end %>

 <%# if @movies.platforms.name == "NOW TV" %>
    <%# <div class="carousel"> %>
      <%# @movies.each do |movie| %>
        <%# <div class="movie-card"> %>
          <%#= movie.name %>
          <%#= movie.imdb_rating %>
          <%#= movie.image_url %>
        <%# </div> %>
      <%# end %>
    <%# </div> %>
  <%# end %>

  <%# if @movies.platforms.name == "ALL 4" %>
    <%# <div class="carousel"> %>
      <%# @movies.each do |movie| %>
        <%# <div class="movie-card"> %>
          <%#= movie.name %>
          <%#= movie.imdb_rating %>
          <%#= movie.image_url %>
        <%# </div> %>
      <%# end %>
    <%# </div> %>
  <%# end %>

 <%# if @movies.platforms.name == "BBC iPlayer" %>
    <%# <div class="carousel"> %>
      <%# @movies.each do |movie| %>
        <%# <div class="movie-card"> %>
          <%#= movie.name %>
          <%#= movie.imdb_rating %>
          <%#= movie.image_url %>
        <%# </div> %>
      <%# end %>
    <%# </div> %>
  <%# end %>

  <%# if @movies.platforms.name == "britbox" %>
    <%# <div class="carousel"> %>
      <%# @movies.each do |movie| %>
        <%# <div class="movie-card"> %>
          <%#= movie.name %>
          <%#= movie.imdb_rating %>
          <%#= movie.image_url %>
        <%# </div> %>
      <%# end %>
    <%# </div> %>
  <%# end %>

</div>
