<div data-controller="search">
  <%= form_with url: movies_path, method: :get, html: { class: "input-search search-box", data: {
  search_target: "form" } } do %>
  <button class="btn-search"><i class="fas fa-search"></i></button>
    <%= text_field_tag :query,
      params[:query],
      class: "input-search",
      autocomplete: "off",
      onfocus: "this.value = ''",
      placeholder: "Find something to watch...",
      data: {
        search_target: 'searchInput',
        action: "keyup->search#update"
        } %>
  <% end %>

<%= render 'list', movies: @movies %>
