<nav class="navbar">
  <a class="navbar-brand" href="/platforms">
    <i class="fa-solid fa-tv"></i>
  </a>
  <a class="navbar-brand" href="/">
    <i class="fa-solid fa-house"></i>
  </a>
    <a class="navbar-brand" href='<%= favourite_movies_path %>'>
    <i class="fa-solid fa-heart"></i>
  </a>
</nav>
