<h1>Welcome to 1Streamer</h1>
<p>The most minilistic website on the web!</p>



<a href='#' class="movie_card">
    <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
    <div class="movie_card_overlay">
      <h3 class="title" href='#'>Lorem, ipsum dolor</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
    </div>
    </a>


<div style="display: flex; justify-content: center; align-items: center;">
  <a href='#' class="movie-card">
    <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
      <div class="movie-card-overlay">
          <h3 class="movie-card-title" href='#'>Lorem, ipsum dolor</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
      </div>
  </a>
</div>



<div class="container text-center my-3" data-controller="carousel">
		<div class="row mx-auto my-auto justify-content-center">
			<div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
						<div class="col-md-3">
							<a href='#' class="movie-card">
                <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
                  <div class="movie-card-overlay">
                    <h3 class="movie-card-title" href='#'>Lorem, ipsum dolor</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
                  </div>
              </a>
						</div>
					</div>
          <div class="carousel-item">
						<div class="col-md-3">
							<a href='#' class="movie-card">
                <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
                  <div class="movie-card-overlay">
                    <h3 class="movie-card-title" href='#'>Lorem, ipsum dolor</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
                  </div>
              </a>
						</div>
					</div>
          <div class="carousel-item">
						<div class="col-md-3">
							<a href='#' class="movie-card">
                <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
                  <div class="movie-card-overlay">
                    <h3 class="movie-card-title" href='#'>Lorem, ipsum dolor</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
                  </div>
              </a>
						</div>
					</div>
          <div class="carousel-item">
						<div class="col-md-3">
							<a href='#' class="movie-card">
                <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
                  <div class="movie-card-overlay">
                    <h3 class="movie-card-title" href='#'>Lorem, ipsum dolor</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
                  </div>
              </a>
						</div>
					</div>
          <div class="carousel-item">
						<div class="col-md-3">
							<a href='#' class="movie-card">
                <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
                  <div class="movie-card-overlay">
                    <h3 class="movie-card-title" href='#'>Lorem, ipsum dolor</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
                  </div>
              </a>
						</div>
					</div>
          <div class="carousel-item">
						<div class="col-md-3">
							<a href='#' class="movie-card">
                <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
                  <div class="movie-card-overlay">
                    <h3 class="movie-card-title" href='#'>Lorem, ipsum dolor</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
                  </div>
              </a>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				</a>
				<a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>

