<h1>Welcome to 1Streamer</h1>
<p>The most minilistic website on the web!</p>

<a href='#' class="movie_card">
    <img src="https://assets.nflxext.com/us/boxshots/tv_sdp_s/70143813.jpg" alt="img">
    <div class="movie_card_overlay">
      <h3 class="title" href='#'>Lorem, ipsum dolor</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem beatae.</p>
    </div>
    </a>
