.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background: linear-gradient(transparent, 10%, black);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
}

.fa-solid {
  color: white;
}
