.platforms-container{
  margin:45px;
  width: 350px;
  // flex-direction: column;
  text-align: center;
  background-color: black;

}

.platform-grid{
  display: grid;
  gap: 10px 10px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;

}

.grid-item-box{
  display: flex;
  align-items: center;
  justify-content: center;
}





.grid-icon{
  height: 80px;
  width: 80px;
  position: relative;
  opacity: 0;
  border: rgb(68, 68, 68);
  border-style: solid;
}

.platform-title{
  color:white;
  // margin-top: 50px;
  margin:50px 30px;
  padding-left: 30px;

}

// input[type="checkbox"] {
//   -webkit-appearance: none;
//   position: relative;
//   width: 100%;
//   cursor: pointer;
// }

.platforms{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.platform-bordered {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: rgb(68, 68, 68) 6px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  display: block;
  width: 100px;
  margin: 10px auto;
}

.btn-ghost:hover {
  opacity: 1;
}

.save-platform{

  color: white;
  border: white 2px solid;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: normal;
 background-color: black;
  display: block;
  width: 200px;
  margin:50px 42px;
}
