.container_show {
  background-color: rgb(94, 90, 90);
  height: 100vh;
}

.show_card {
  background-color: green;
}

.image_container {
  height: 60%;
  max-width: 100%;

}

.image_container img {
  object-fit: contain;
  height: 100%;
  display: block;
}



























// .show_card {
//   justify-content: center;
//   align-items: center;
//   margin: 20px;
//   height: 100%;
//   width: 30vh;
// }

// .image_container {
//   object-fit: fill;
// }

// .image_container img {
//   background-color: red;
// }

// .show_title {
//   display: flex;
//   justify-self: center;
//   background-color: greenyellow;
// }

// .text_container {
//   width: 100%;
//   background-color: pink;
// }
