.container_show {
  background-color: black;
  height: 100vh;
  width: auto;
}

.show_card {
  height: 100%;
  background-color: black;
}

.image_container {
  width: 100%;
  background-color: black;
}

.image_container a {
  text-decoration: none;
}

.image_container img {
  object-fit: contain;
  height: 100%;
  display: block;
  width: 100%;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.text_container {
  position: absolute;
  top: 600px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  color: white;
  background-color: black;
}

.show_title {
  margin-left: 30px;
  margin-right: 30px;
  position: absolute;
  top: 550px;
  color: white;
}

.fa-brands {
  margin-right: 5px;
  background-color: yellow;
  color: black;
}

.movie_info {
  margin-top: 15px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.watch_now {
  display: flex;
  justify-content: center;
  padding-right: 60px;
}

.watch_now a {
  background-color: black;
  text-decoration: none;
  opacity: 0.75;
  font-size: xx-large;
  position: absolute;
  top: 250px;
  z-index: 99;
  border-radius: 50%;
  border: 3px solid;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}


















// .show_card {
//   justify-content: center;
//   align-items: center;
//   margin: 20px;
//   height: 100%;
//   width: 30vh;
// }

// .image_container {
//   object-fit: fill;
// }

// .image_container img {
//   background-color: red;
// }

// .show_title {
//   display: flex;
//   justify-self: center;
//   background-color: greenyellow;
// }

// .text_container {
//   width: 100%;
//   background-color: pink;
// }
